* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.main {
    display: flex;
    padding: 0 12px;
}

.sliderbar {
    width: 300px;
    background-color: aquamarine;
}

.content {
    width: 77.5%;
}

.item {
    min-height: 160px;
    line-height: 160px;
    text-align: center;
    background-color: orange;
    margin-top: 12px;
    font-size: 20px;
}

@media (min-width:740) and (max-width:1023px) {

}